<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="BoostMyShop_BarcodeInventory::barcode_inventory" title="Barcode Inventory" module="BoostMyShop_BarcodeInventory" sortOrder="100" parent="Magento_Catalog::inventory" action="barcodeinventory/main" resource="Boostmyshop_Barcodeinventory::Main"/>
    </menu>
</config>
