<?xml version="1.0"?>
<!--
/**
 * Callback
 * 
 * @author Slava Yurthev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route id="franchise_enquiry" frontName="franchise_enquiry">
			<module name="Oscprofessionals_FranchiseEnquiry" />
		</route>
	</router>
</config>